#external{
    color: green;
    font: 100 30px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6px;
    letter-spacing: 0.2em;
    word-spacing: 1em;
    }

.container{
    width: 80%;
    margin: auto;
}

.categories{
    border: 1px black solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
}
.categories ul{
    padding: 0;
    list-style: square;
}
.categories li{
    color: rgb(219, 39, 39);
}
a{
    text-decoration: none;
}
a:hover{
    color: green;
}
a:active{
    color: brown;
}
a:visited{
    color: purple;
}
.my-form{
    padding: 15px;
}
.my-form .form-group{
    padding-bottom: 15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}
.my-form input[type="submit"]{
    padding: 15px 10px;
    background-color: black;
    color: white;
    border: none;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}
#mainbar{
    float: left;
    width: 70%;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background: gray;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}
.p-box{
    width: 500px;
    height: 350px;
    border: 1px solid black;
    margin-top: 350px;
    position: relative;
}
.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}
.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}
.my-list li:first-child{
    background: red;
}
.my-list li:last-child{
    background: blue;
}
.my-list li:nth-child(3){
    background-color: green;
}